/* 
    SECTION
*/

.section {
    display: block;
    clear: both;
    vertical-align: top;
    position: relative;
}

section {
    display: block;
}
.section-automate {
    position: relative;
    .bg-image {
     
        height: 600px;
        top: -400px;
        width: 555px;
        right: 0 !important;
        left: inherit;
        
    }
}

.section-social {
    background-color: #57b5c7;
    background-image: linear-gradient(90deg, #57b5c7, #8ed4df);
    padding: 15vh 0;
    padding-bottom: 14em;
    .ads-container {
        position: relative;
    }
}

.section {
    .content {
        max-width: 900px;
        position: relative;
        z-index: 2;
    }
}

.content {
    width: 90%;
    max-width: 1008px;
    margin-left: auto;
    margin-right: auto;
}
.span1of1 {
    width: 100%;
}

/* 
    HEADER_____
*/
.land-title {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 60px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -.02em;
    -webkit-font-smoothing: antialiased;
}
.header-land {
    padding: 100px 0px;
    height: 90vh;
    .bg-image {
        width: 500px;
        height: 750px;
        top: 0px;
        left: 0;

    }
    .title-div {
        margin-top: 25vh;
        a, p {
            z-index: 2;
            position: relative;
        }
        
    }
}
.blue-blob {
    z-index: 2;
    position: relative;
}
.land-title-2 {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 40px;
    line-height: 1.2;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.animated-header_words-wrapper {
    // display: none;
    // overflow: hidden;
    position: relative;
    transition: width .3s;
    vertical-align: middle;
    width: auto;
    margin: 0;
    z-index: 2;
    
    b {
        left: 0;
        opacity: 0;
        position: relative;
        top: -.1em;
        white-space: nowrap;
        display: inline-block;
        // .is-showing:not() {
        //     animation: slide-in .6s;
        // }
        // .is-hiding:not() {
        //     animation:  slide-out .6s;
        // }
    }
}
.animated-header_words-wrapper:after {
    background: #1a82e2;
    background: linear-gradient(to bottom right,#6aa7df,#1a82e2);
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    z-index: 2;
    transition: width .3s -.1s;
}

.animated-header_words-wrapper.is_loading:after {
    width: 100%;
    transition: width .3s;
}
// .animated-header_words-wrapper.is_loading {
//    display: inline-block;
// }

.is-showing {
    animation: slide-out 1s forwards;
}

.is-hiding {
    display: none !important;
}

@keyframes slide-in {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    60% {
        opacity: 0;
        transform: translateY(110%)
    }
    100% {
        opacity: 0;
        transform: translateY(100%)
    }
}

@keyframes slide-out {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    60% {
        opacity: 1;
        transform: translateY(10%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

/*
    END HEADER
*/
// opacity: 1;
// top: -1px;
// position: relative;


// left: 0;
// opacity: 0;
// position: absolute;
// top: .2em;
// white-space: nowrap;

// *, ::after, :before {
//     box-sizing: border-box;
// }

.bg-image {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
    left: 50%;
}

